_drafts/
_site/*
_theme_packages/*
*~
*.swp
Gemfile.lock


# these folders are hosted on AWS S3 bucket.
css/
flv/
img/
js/
swf/
uploads/

# Redcar
.redcar/
# Aptana/Eclipse
.profile
# Netbeans

# ActiveState Komodo
*.komodo
# Adobe Dreamweaver

# Redmine
.idea/

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc