<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="{{ site.baseuri }}/favicon.ico" rel="icon" type="image/x-icon" />
    <title>{% if page.title %}{{ page.title }}{% else %}Jason's Tech Blog{% endif %}</title>
    <meta name="author" content="Jason L. West, Sr." />
    <meta name="description" content="{{page.description}}" />
    <meta name="keywords" content="{{page.keywords}}" />

    <link rel="canonical" href="http://jlwestsr.com/" />
    <link href="http://jlwestsr.com/atom.xml" rel="alternate" title="Jason's Tech Blog" type="application/atom+xml" />

    <!-- Validation Keys -->
    <!-- google -->
    <meta name="google-site-verification" content="CKrHlUskuLbMyzAALZoWuXTCHVQVfOsW5EnyiyI4E8k" />
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4621414-4']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    <!-- /google -->

	  <meta name="y_key" content="47202d03bb8ca9a6" />
	  <meta name="msvalidate.01" content="D66E3F2CF2B4865D32249265E75AAFE1" />

    <link href="http://media.jlwestsr.com/css/default.css" rel="stylesheet" type="text/css" />
    <link href="http://media.jlwestsr.com/css/syntax.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- outer -->
    <div id="outer">

