    </div>
    <!-- /outer -->
    
    <!-- UserVoice Feedback script -->
    <script type="text/javascript">
      var uservoiceOptions = {
        key: 'jlwestsr',
        host: 'jlwestsr.uservoice.com', 
        forum: '73283',
        alignment: 'left',
        background_color:'#04de0c', 
        text_color: 'white',
        hover_color: '#0066CC',
        lang: 'en',
        showTab: true
      };
      function _loadUserVoice() {
        var s = document.createElement('script');
        s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "uservoice.com/javascripts/widgets/tab.js";
        document.getElementsByTagName('head')[0].appendChild(s);
      }
      _loadSuper = window.onload;
      window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
    </script>
    <!-- /UserVoice Feedback script -->
    
    <!-- Disqus Comment Counter -->
    <script type="text/javascript">
      var disqus_shortname = 'jasonstechblog';
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.src = 'http://disqus.com/forums/jasonstechblog/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
    <!-- /Disqus Comment Counter -->
      	
  </body>
</html>