<div class="row-fluid">
  
  <div class="span9">

    {% if page.title %}
    <div class="page-header">
      <h1>{{ page.title }}
      {% if page.tagline %} 
        <br><small>{{ page.tagline }}</small>
      {% endif %}
      </h1>
    </div>
    {% endif %}     

    <div class="row-fluid">
        {{ content }}
    </div>

  </div> 

  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        
        <li class="nav-header">Sections</li>
        <li><a href="/posts/">Blog</a></li>
        <li><a href="/cheatsheets/">Cheatsheets</a></li>
        <li><a href="/cookbooks/">Cookbooks</a></li>
      
      
        <li class="nav-header">Tags</li>
      {% unless site.tags == empty %}
        {% assign tags_list = site.tags %}
        {% include JB/tags_list %}
      {% endunless %}

        <li>&nbsp;</li>
        <li>
          <!-- Twitter Posts -->
          <script src="http://widgets.twimg.com/j/2/widget.js"></script>
          <script>
            new TWTR.Widget({
              version: 2,
              type: 'profile',
              rpp: 5,
              interval: 6000,
              width: 'auto',
              height: 300,
              theme: {
                shell: {
                  background: '#005884',
                  color: '#ffffff'
                },
                tweets: {
                  background: '#FFFFFF',
                  color: '#666666',
                  links: '#0076dd'
                }
              },
              features: {
                scrollbar: true,
                loop: false,
                live: true,
                hashtags: true,
                timestamp: true,
                avatars: false,
                behavior: 'all'
              }
            }).render().setUser('jlwestsr').start();
          </script>
          <!-- /Twitter Posts -->  
        </li>

      </ul>
    </div>
  </div>
</div>
